@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* overflow-x: hidden; */
}

#body{
    width: 100%;
    height: fit-content;
}

.navbar-container{
    width: 100%;
    height: 50px;
    background: #F55A5A;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.navbar-container > img{
    margin: 0 10px 0 0;
}

.location-container{
    width: 900px;
    height: 300px;
    margin: 30px;
}

.location-content{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location-img-container{
    width: 280px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-image{
    width: 230px;
    height: 280px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.557);
}

.description{
    width: 600px;
    height: inherit;
    /* background: greenyellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.location{
    /* background: purple; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
}

.location > a{
    color: gray;
}

.location-country{
    letter-spacing: 4px;
}

.location-title{
    /* background: teal; */
    margin: -10px 0 0 0;
}

.location-title_p{
    font-weight: 700;
    font-size: 2em;
}

.info{
    /* background: gray; */
    height: fit-content;
    width: inherit;
}

.dates > span{
    font-weight: 600;
}

.dates{
    margin: 0 0 20px 0;
}

.info-text{
    text-align: left;
}


@media screen and (max-width: 930px) {
    #body{
        overflow-x: hidden;
    }

    .location-container{
        width: 100%;
        height: fit-content;
        margin: 10px 0 20px 0;
        /* border-bottom: 2px solid rgb(215, 215, 215); */
        box-shadow: 1px 1px 1px 1px rgba(198, 198, 198, 0.639);
    }

    .location-content{
        flex-direction: column;
    }

    .location-img-container{
        width: 60%;
    }

    .location-image{
        height: 250px;
        width: 70%;
    }

    .description{
        width: 80%;
        margin: 20px 0 0 0;
    }

    .location{
        width: fit-content;
        height: fit-content;
        /* word-wrap: break-word;
        word-break: break-all; */
        flex-wrap: wrap;
    }

    .location-title_p{
        font-size: 1.7em;
        padding: 10px 0 0 0;
    }

    .info{
        width: 100%;
    }

    .info-text{
        text-align: justify;
    }
}